body {
            font-family: Arial, sans-serif;
            background-color: #e6f2ff;
            margin: 0;
            padding: 0;
            padding-top: 180px;
        }

        header {
            background-color: #004080;
            color: white;
            text-align: center;
            padding: 20px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        nav {
            background-color: #0066cc;
            text-align: center;
            padding: 10px;
            position: fixed;
            top: 153px;
            width: 100%;
            z-index: 999;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 15px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        section {
            padding: 20px;
        }

        h2 {
            color: #004080;
        }

        .sports {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .sport-box:hover{
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
        .sport-box>a{
            text-decoration: none;
            color:black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .sport-box>a:hover{
            text-decoration: underline;
            color:black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color:aqua;
        }

        .sport-box {
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }

        .sport-box img {
            width: 100%;
            height: 180px;
            border-radius: 5px;
        }

        footer {
            background-color: #004080;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }
        li{
            font-style: italic;
        }
        .sport-box>p{
            font-family: cursive;
        }